body {
    background-color:#edfcf7 ;
}
.logo {
    position: fixed;
    top: 15px;
    left: 15px;
}
.nav-bar {
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 500px;
    margin-left: 921px;
    margin-top: -100px;
    height: 34px;
}
button {
    background-color: #e4e2e4;
    border: 2px solid black;
    border-radius: 16px;
    width: 127px;
    text-align: center;
    padding-top: 5px;
    
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 144px;
   
}
.box {
    height: 250px;
    width:400px;
    border: none;
    box-shadow: 3px 3px 10px gray;
    margin-bottom: 20px;
    border-radius: 5%;
    text-align: center;
    padding-top: 15px;
    font-size: 17px;

}
.box1 {
 
    text-decoration: underline; 

}
.box2 {
    text-decoration: line-through;
}
.box3 {
    text-decoration: wavy;
}
.box4 {
    text-decoration:overline;
}
.box5 {
    text-decoration: underline;
}
.box6 {
    text-decoration: line-through;
}
.box7 {
    text-decoration:line-through;
}
.box8 {
    text-decoration:wavy;
}
.box9 {
    text-decoration: overline;
}

